{% extends 'base.html.twig' %}

{% block title %}Les philosophes{% endblock %}

{% block body %}
<div class="container mt-1">
    <h1>Les philosophes référencés</h1>
    <a type ="button" class="btn btn-info" href="{{ path('author_new') }}">Ajouter un philosophe</a>

    <div class="row mt-3">
        {% for author in authors %}
            <div class="col-md-3">
                {% include 'author/_author.html.twig' %}
            </div>
        {% else %}
            <div>.. Aucun(e) auteur(e) référencé(e) :-(</div>
        {% endfor %}
    </div>
</div>
{% endblock %}
