{% extends 'base.html.twig' %}

{% block title %}Ajout philosophe{% endblock %}

{% block body %}
	<div class="container">
		<h1>Ajouter un.e philosophe</h1>

		{{ include('author/_form.html.twig') }}

		<a type="button" class="btn btn-info" href="{{ path('author_index') }}">Annulation</a>
	</div>
{% endblock %}
