{% extends 'base.html.twig' %}

{% block title %}Nouvel(le) Auteur(e){% endblock %}

{% block body %}
	<div class="container">
		<h1>Ajouter un(e) auteur(e)</h1>

		{{ include('author/_form.html.twig') }}

		<a type="button" class="btn btn-info" href="{{ path('author_index') }}">Retour</a>
	</div>
{% endblock %}
