###> 
/public/percentProgress.log
/public/books
/public/images
/public/bibnphi.log
/bibnphi.log
/xyz_trash/


###>
/.vscode

###>
/src/DataFixtures/
/localTesting/

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
/composer.lock
/package-lock.json
/symfony.lock
###< symfony/webpack-encore-bundle ###

###> liip/imagine-bundle ###
/public/media/cache/
###< liip/imagine-bundle ###
