###> 
/public/percentProgress.log
/public/books
/public/bibnphi.log
/bibnphi.log
/xyz_trash/


###>
/.vscode

###>
/src/DataFixtures/

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
/composer.lock
/package-lock.json
###< symfony/webpack-encore-bundle ###

