    <div class="mx-3 mt-3" id="book-selectform" style="display:none;">
        {{ form_start(bookSelectForm) }}
        <div class="row">
            <div class="col-md-5">
                {{ form_widget(bookSelectForm.authors) }}
            </div>
            <div class="col-md-5">
                {{ form_widget(bookSelectForm.books) }}
            </div>
            <div class="col-md-2">
                <button id="book-select-button" class="btn btn-primary"><i class="fa fa-search"></i></button>
            </div>
        </div>
        {{ form_end(bookSelectForm) }}	
    </div>    

{# <form class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="text" placeholder="Search">
    <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
</form> #}
