<footer class="mt-1 pt-1 text-center">
	<a href="{{ path('reset_selection') }}">
		<img src="/bibnphi-icon-chouette.png" alt="icône chevêche" style="height:1rem;"> BIB.N.PHI 
	</a>
	{% if nbBooks is defined %}
	<p style="display:inline; font-size:0.85rem">
		({{nbBooks}} Ouvrages aujourd'hui)
	</p>
	 {% endif %}
	 <img src="/Copyleft16x16.png" alt="copyleft" style="height:1rem;">
</footer>