<footer class="mt-1 pt-1 text-center">
	<a href="{{ path('reset_selection') }}" title="Accueil">
		<img src="/bibnphi-icon-chouette.png" alt="icône chevêche" style="height:1rem;">
		<em style="font-family: Arial, cursive;"> BIB.N.PHI </em> 
	</a>
	{% if nbBooks is defined %}
	<p style="display:inline; font-size:0.85rem">
		({{ "now"|date("d/m/Y") }} - {{nbBooks}} Ouvrages)
	</p>
	 {% endif %}
	 <img src="/Copyleft16x16.png" alt="copyleft" style="height:1rem;">
</footer>