<div id="progress-bar-container" class="progress text-center" style="display: none; border: 1px solid black; background-color: rgb(139, 139, 132); height: 0.7rem;">
    <div id="progress-bar" class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100"
        style="width: 0%; color: rgb(2, 2, 26); background-color: rgb(8, 187, 17);">
        {# <span>La progress bar !!</span> #}
    </div>
{# <div id="progress-value" style="text-align:right;">
    progress-value
</div> #}
</div>

{# <span hidden="true" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
    <span hidden="true" class="sr-only">Loading...</span> #}


