<div id="progress-bar-container" class="progress" style="display: none; background-color: yellow;">
    <div id="progress-bar" class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100"
            style="display:block; width:75%;background-color: red;">
        &nbsp;La progress bar !!
    </div>
    {# <div id="progress-value" style="text-align:right;">
        progress-value
    </div> #}

</div>

{# <span hidden="true" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
    <span hidden="true" class="sr-only">Loading...</span> #}


