{% extends 'base.html.twig' %}

{% block title %}Nouvelle référence{% endblock %}

{% block body %}
	<div class="container mt1">
		<h1>Ajouter une oeuvre</h1>
		{{ include('book/_form.html.twig') }}
		<a type ="button" style="display:inline-block;" class="btn btn-info mt-1" href="{{ path('book_index') }}">Retour</a>
	</div>
{% endblock %}
