//
@import '~select2/dist/css/select2.min.css';

// using template https://bootswatch.com/lumen/
// @import 'variables';
@import 'bootstrap.min.css';
// @import '~bootstrap/dist/css/bootstrap.min.css';
// @import 'bootswatch';

body {
    background-color: lightgray;
}

.book-card {
    background-color: rgb(216, 240, 241);
    border: 1px solid black;
    border-radius: 45px 15px 225px 5px/25px 225px 25px 255px;
}

.author-card {
    background-color: rgb(207, 200, 92);
    border: 1px solid black;
}

.found-content {
    padding: 2px;
    color: rgb(207, 200, 101);
    background-color: rgb(34, 9, 145);

    // font-size: 1.1rem;
    // font-style: italic;
    // font-weight: bold;
    // text-decoration: underline;

    // border: 1px solid black;
}

// les cibles des hyperliens vers les notes de fin ..
:target {
    scroll-margin-top: 70px; /* height of sticky header (where does it come from ??-) */
}

//
// 
h3:target {
    scroll-margin-top: 0;
}


// html {
//     scroll-padding-top: 70px; /* height of sticky header */
//   }


.anchor-no-decoration:hover {
    text-decoration: none;
}
  
.p-justify {
    text-align: justify;
}

.p-non-matching-book {
    text-decoration:line-through;
}

#progress-bar {
    transition: width 3s linear;
}

// html, body {
//     height: 100%;
//     overflow: hidden;
//     margin: 0;
// }

#searching-result-content {
    height: calc(100vh - 91px);
    padding: 0 33px;

}

#searching-result-leftside {
    float: left;
    width: 25%;
    // height: 100vh;
    height: calc(100vh - 91px);
    overflow-y: scroll;
    padding: 0px 3px;
    // border:rgb(233, 185, 27) solid 1px;
}

#searching-result-rightside {
    width: 75%;
    height: calc(100vh - 91px);
    overflow: auto;
    padding: 0 3px;
    border:rgb(11, 131, 31) solid 1px;

}

.blink {
    // animation: animate 1.5s steps(5, start) infinite;
    animation: animate 2s steps(7, start) infinite;
}
@keyframes animate {
    to {
        visibility: hidden;
    }
}