//
@import '~select2/dist/css/select2.min.css';

// using template https://bootswatch.com/lumen/
// @import 'variables';
@import 'bootstrap.min.css';
// @import '~bootstrap/dist/css/bootstrap.min.css';
// @import 'bootswatch';

$bibnphi-background: rgb(162, 247, 162);
$bibnphi-text-color: #212529;

body {
    background-image: url('/public/fondecrannuages.jpeg');
    background-color: lightgray;
}

.table td {
    border: none;
}
.author-card {
    background-color: rgb(207, 200, 92);
    border: 1px solid black;
}

.book-card {
    background-color: rgb(200, 201, 212);
    //background-color: rgb(223, 158, 37);
    border: 1px solid darkblue;
    box-shadow: 5px 5px 5px darkblue;
    // border-radius: 45px 15px 225px 5px/25px 225px 25px 255px;
    // width: 19.5%;

    width: 11%; //14.5%;
    display: inline-block;
    vertical-align: top;
}

.found-content {
    padding: 2px;
    color: rgb(207, 200, 101);
    background-color: rgb(34, 9, 145);

    // font-size: 1.1rem;
    // font-style: italic;
    // font-weight: bold;
    // text-decoration: underline;

    // border: 1px solid black;
}

// les cibles des hyperliens vers les notes de fin ..
// :target {
//     scroll-margin-top: 70px; /* height of sticky header (where does it come from ??-) */
// }

//
// 
h3:target {
    scroll-margin-top: 0;
}


// html {
//     scroll-padding-top: 70px; /* height of sticky header */
//   }

.anchor-no-decoration:hover {
    text-decoration: none;
}

a:hover {
    color: $bibnphi-text-color;
    text-decoration: none;
}
a:link {
    color: $bibnphi-text-color;
}
a {
    color: $bibnphi-text-color;
}

.open-book-row {
    border: 1px solid darkblue;
    box-shadow: 5px 5px 5px darkblue;
}
  
.p-justify {
    text-align: justify;
    padding: 0px 5px;
}

.p-non-matching-book {
    text-decoration:line-through;
}

#progress-bar {
    transition: width 3s linear;
}

// html, body {
//     height: 100%;
//     overflow: hidden;
//     margin: 0;qq
// }

#searching-result-content, #book-display-content {
    height: calc(100vh - 91px);
    padding: 3px 33px;

}

#searching-result-leftside, #book-display-leftside {
    float: left;
    width: 23%;
    // height: 100vh;
    height: calc(100vh - 91px);
    overflow-y: scroll;
    padding: 0px 3px;
}

#searching-result-rightside, #book-display-rightside {
    width: 77%;
    height: calc(100vh - 91px);
    overflow: auto;
    padding: 0 5px;
    background-image: url('/public/papier.jpg');
    //  olor: $bibnphi-background;

    border:rgb(11, 131, 31) solid 1px;

}

// frontpage
#frontpage-content {
    height: calc(100vh - 91px);
    padding: 3px 33px;
}
#frontpage-leftside {
    width: 100%;
    height: calc(100vh - 91px);
    overflow: auto;
    padding: 0 3px;
}
#frontpage-rightside {
    display: none;
    float: right;
    width: 0%;
    height: calc(100vh - 91px);
    overflow-y: auto;
    padding: 0px 3px;
}

// book selection display
#selected-list-content {
    height: calc(100vh - 91px);
    padding: 3px 33px;

}
#selected-list-leftside {
    width: 30%;
    height: calc(100vh - 91px);
    overflow: auto;
    padding: 0 3px;
}
#selected-list-rightside {
    // display: none;
    float: right;
    width: 60%;
    height: calc(100vh - 91px);
    overflow-y: auto;
    padding: 0 5px;
    background-image: url('/public/papier.jpg');
    border: 1px solid rgb(11, 131, 31);

}


.blink {
    // animation: animate 1.5s steps(5, start) infinite;
    animation: animate 2s steps(7, start) infinite;
}
@keyframes animate {
    to {
        visibility: hidden;
    }
}

