{% extends 'base.html.twig' %}

{% block title %}A propos{% endblock %}

{% block body %}
<div class="container" style="padding-top: 55px;">

    <div class="mx-5">
    <img src="/Logo BIB·N·PHI.png" alt="Logo BIB·N·PHI" style="display:block;margin:auto;margin-top:2rem;max-width:100%;">
        <p align="justify" style="font-size: 1.2rem;margin-top:2rem;margin-bottom: 0cm; line-height: 100%">Le
        site BIB·N·PHI a été initié par Marc Anglaret, professeur de
        philosophie au lycée Arago de Perpignan, qui en assure aujourd’hui
        la maintenance. Ses fonctionnalités techniques ont été réalisées
        par <a href="mailto:allan@webcoop.fr?subject=[bibnphi.webcoop.fr]">Allan
        Pedersen</a>, développeur informatique. Son infographie a été
        réalisée par Thomas Courtial, webdesigner.</p>
        <br/>
    </div>
    <div class="mx-5">
        <p align="justify" style="font-size: 1.2rem; margin-bottom: 0cm; line-height: 100%">Il
        rassemble plusieurs centaines d’œuvres philosophiques libres de
        droit au format numérique. Par «&nbsp;œuvre&nbsp;», nous
        entendons ici aussi bien un texte de quelques pages comme la <i>Lettre
        à Ménécée</i> d’Épicure que la <i>Somme théologique</i> de
        Thomas d’Aquin, qui s’étend sur plusieurs milliers de pages.</p>
        <p align="justify" style="font-size: 1.2rem; margin-bottom: 0cm; line-height: 100%">Les
        œuvres proposées sur ce site sont exclusivement des œuvres
        intégrales, du moins telles qu’elles existent aujourd’hui&nbsp;;
        par exemple, la <i>Poétique</i> d’Aristote est présentée comme
        «&nbsp;œuvre intégrale&nbsp;» malgré son incomplétude
        manifeste&nbsp;: seul le livre I nous est parvenu.</p>
        <p align="justify" style="font-size: 1.2rem; margin-bottom: 0cm; line-height: 100%">Nous
        considérons également comme des «&nbsp;œuvres&nbsp;» des textes
        qui ne sont que des fragments, comme pour la plupart des textes des
        présocratiques ou certains textes de Pascal&nbsp;: la préface pour
        un <i>Traité du vide</i> (que par ailleurs Pascal n’acheva jamais)
        peut ainsi être considérée comme une «&nbsp;œuvre&nbsp;».</p>
        <p align="justify" style="font-size: 1.2rem; margin-bottom: 0cm; line-height: 100%">Enfin,
        la notion d’œuvre philosophique est parfois floue. Par exemple,
        faut-il considérer <i>La doctrine du droit</i> et <i>La doctrine de
        la vertu</i> de Kant comme deux œuvres distinctes, ou comme les deux
        parties d’une seule œuvre (<i>La métaphysique des mœurs</i>)&nbsp;?
        Nous avons ici dû faire des choix, que nous avons explicités.</p>
        <br/>
    </div>
    <div class="mx-5">
        <p align="justify" style="font-size: 1.2rem; margin-bottom: 0cm; line-height: 100%">Les
        sources des œuvres présentées sont divers sites web, comme les
        Classiques des sciences sociales, Wikisource, etc. Elles ont
        systématiquement été «&nbsp;relues&nbsp;» et corrigées par
        divers outils comme Grammalecte. Il est cependant inévitable que des
        coquilles subsistent encore dans certains textes. N’hésitez pas,
        le cas échéant, à nous le signaler via le formulaire de contact,
        afin que nous puissions les corriger.</p>
        <br/>
        
        <p align="justify" style="font-size: 1.2rem; margin-bottom: 0cm; line-height: 100%">L’orthographe
        des œuvres écrites en français a été, le cas échéant,
        modernisée (pour Montaigne par exemple). Pour les œuvres écrites
        dans une autre langue, lorsque diverses traductions libres de droit
        existent, nous avons généralement choisi la plus récente (celles
        d’Émile Chambry pour Platon par exemple).</p>
        <br/>
        
        <p align="justify" style="font-size: 1.2rem; margin-bottom: 0cm; line-height: 100%">Enfin,
        il nous faut inévitablement délimiter le domaine des œuvres
        considérées comme philosophiques. De nombreux philosophes ont écrit
        des œuvres non philosophiques (comme les textes mathématiques de
        Leibniz). Il nous a donc fallu faire des choix, parfois difficiles.
        Certaines œuvres de forme littéraire, comme <i>Julie ou La nouvelle
        Héloïse</i> de Rousseau, <i>Jacques le fataliste et son maître</i>
        de Diderot, ou encore <i>Ainsi parlait Zarathoustra</i> de Nietzsche,
        comportent une dimension philosophique peu contestable, et sont par
        ailleurs écrits par des philosophes reconnus comme tels. Dans le
        doute, ces œuvres ont été intégrées à la bibliothèque. Libre à
        chacun·e de les ignorer.</p>
    </div>
    <div class="text-center mt-5">

        <p>Ce site est hébergé par :</p>
        
        <p class="has-text-align-center">O2SWITCH<br>222-224 Boulevard Gustave Flaubert<br>63000 Clermont-Ferrand<br>Tél : 04 44 44 60 40</p>
        
        <p class="has-text-align-center">SAS au capital de 100 000€<br>RCS : Clermont-Ferrand – SIRET : 510 909 807 00032 – TVA : FR35510909807<br>La marque o2switch est déposée INPI sous le numéro 09 3 645 729.</p>
        <cite>Opérateur Télécom déclaré ARCEP 09/2989 &#8211; AS50474</cite>
        
        <h2 class="has-text-align-center"><a rel="noreferrer noopener" href="http://www.o2switch.fr/" target="_blank">www.o2switch.fr</a></h2>
    </div>
</div>
{% endblock %}
