{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

<div id="frontpage-content">
	<div id="frontpage-rightside">
	</div>
	<div id="frontpage-leftside">
		{# <div class="row"> #}
				{% for book in books %}
					<div style="display: inline;">
						{% include 'book/_book.html.twig' %}
					</div>
				{% endfor %}
		{# </div> #}

	</div>
</div>

{% endblock %}

{% block javascripts %}
<script>
</script>
{% endblock %}



