{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

<div id="frontpage-content" class="container">
	<div class="m-5" style="text-align: center;">
		<p class="m-3" style="font-size: 2rem;font-style:italic;">
			... Texte d'accueil ...
		</p>
		<p>
			Cette bibliothèque intègre à ce jour {{nbAuthors}} philosophes et permet l'accès à {{nbBooks}} de leurs ouvrages libres de droits 
		</p>
	</div>

	<h5 style="text-align:center;">Les 5 derniers ouvrages référencés</h5>
	<div style="display:flex; justify-content:center;">
		{% for book in books %}
		<div style="display: inline;">
			{% include 'book/_book.html.twig' %}
		</div>
		{% endfor %}
	</div>

</div>

{% endblock %}

{% block javascripts %}
<script></script>
{% endblock %}



