<p>Demande de contact de la part de : {{contact.firstName}} {{contact.lastName}}</p>
<p>Adresse courrier : {{ contact.email }}</p>
<p class="mt-5">Le corps du message :</p>
<p style="text-align:center; font-size:2rem;">
    {{ contact.message }}
</p>